<!DOCTYPE html>
<html>
  <head>
    <title>Flavoury</title>
    <style>
      body {
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
        background-color: #4274b9;
      }
      .form-container {
        margin: 0 auto;
        width: 92%;
        min-width: 320px;
        max-width: 500px;
        padding: 12px;
        background-color: white;
      }
      .group-title {
        margin: 14px 0;
      }
      label, input[type="text"] {
        display: block;
        margin: 10px 0;
        box-sizing: border-box;
        width: 80%;
      }
      .share-to-public p, .share-to-public input, .item-list input, .item-list a {
        display: inline-block;
      }
      .item-list a {
        font-size: 18px;
        font-weight: bold;
        text-decoration: none;
        color: red;
      }
      hr {
        margin: 25px 0;
      }
      textarea {
        width: 80%;
        resize: none;
        margin: 10px 0;
      }
      .btn {
        margin: 20px auto;
        width: 180px;
      }
      .btn a {
        color: black;
      }
    </style>
  </head>
  <body>
    
    <div class="btn"><a href="javascript:void(0)" onclick="submitRecipeForm();">Save Recipe</a></div>

    <div class="form-container">
      <div class="form-title">Create / Edit Recipe</div>

      <form action="/recipe/edit-recipe" method="post" id="submit-recipe-form">
        <label>Recipe Title:</label>
        <input type="text" name="title" value="<%= (recipeData) ? recipeData[0].recipe_title : '' %>">

        <div class="share-to-public">
          <p>Share to public:</p>
          <input type="checkbox" name="sharing" value="1" <%= (recipeData) ? (recipeData[0].share_to_public==1) ? 'checked' : '' : '' %>>
        </div>

        <label>Servings amount:</label>
        <input type="text" name="servings" value="<%= (recipeData) ? recipeData[0].servings_amount : '' %>">

        <label>Prep time:</label>
        <input type="text" name="prepTime" value="<%= (recipeData) ? recipeData[0].prep_time : '' %>">

        <label>Cook time:</label>
        <input type="text" name="cookTime" value="<%= (recipeData) ? recipeData[0].cook_time : '' %>">

        <hr>
        <div id="ingredient-group">
          <div class="group-title">Ingredients</div>

          <% if (recipeData) { %>
            <% for (let ingredient of recipeData[0].ingredient) { %>
              <div class="item-list">
                <input type="text" name="ingredient[]" value="<%= ingredient %>">
                <a href="javascript:void(0)" onclick="this.parentNode.remove();"><div>X</div></a>
              </div>
            <% } %>
          <% } else { %>
            <% for (let i=0; i<3; i++) { %>
              <div class="item-list">
                <input type="text" name="ingredient[]">
                <a href="javascript:void(0)" onclick="this.parentNode.remove();"><div>X</div></a>
              </div>
            <% } %>
          <% } %>
        </div>

        <a href="javascript:void(0)">
          <div class="more-textbox-btn">
            <a href="javascript:void(0)" onclick="addInputBox('ingredient');">Add Ingredient</a>              
          </div>
        </a>

        <hr>
        <div id="instruction-group">
          <div class="group-title">Instructions</div>

          <% if (recipeData) { %>
            <% for (let instruction of recipeData[0].instruction) { %>
              <div class="item-list">
                <textarea name="instruction[]"><%= instruction %></textarea>
                <a href="javascript:void(0)" onclick="this.parentNode.remove();"><div>X</div></a>
              </div>
            <% } %>
          <% } else { %>
            <% for (let i=0; i<3; i++) { %>
              <div class="item-list">
                <textarea name="instruction[]"></textarea>
                <a href="javascript:void(0)" onclick="this.parentNode.remove();"><div>X</div></a>
              </div>
            <% } %>
          <% } %>
        </div>

        <a href="javascript:void(0)">
          <div class="more-textbox-btn">
            <a href="javascript:void(0)" onclick="addInputBox('instruction');">Add Instruction</a>
          </div>
        </a>

        <hr>
        <div>
          <label>Recipe note:</label>
          <textarea name="recipeNote"><%= (recipeData) ? recipeData[0].recipe_note : '' %></textarea>
        </div>

        <input type="hidden" name="recipeId" value="<%= recipeId %>">
      </form>

      <hr>

      <form action="/recipe/upload-image" method="post" id="submit-image-form" enctype="multipart/form-data">
        <label>Upload Image:</label>
        <input type="file" name="recipeImage" id="recipeImageInput">
        <input type="hidden" name="recipeId" value="<%= recipeId %>">
        <br>
        <div class="btn"><a href="javascript:void(0)" onclick="submitImageForm();" id="upload-image-btn">Upload Image</a></div>
      </form>

    </div>

    <div class="btn"><a href="javascript:void(0)" onclick="submitRecipeForm();">Save Recipe</a></div>
    <div class="btn"><a href="/personal-recipe/<%= recipeId %>" onclick="submitRecipeForm();">Back to Personal Recipe</a></div>




    <script>
      // add new input box to ingredient or instruction
      function addInputBox(boxName) {
        let newBox = document.createElement('div');
        newBox.classList.add('item-list');

        let closeButton = '<a href="javascript:void(0)" onclick="this.parentNode.remove();"><div>X</div></a>';

        if (boxName==='ingredient') {
          newBox.innerHTML = `
              <input type="text" name="${boxName}[]">
              ${closeButton}
            `;
        } else if (boxName==='instruction') {
          newBox.innerHTML = `
              <textarea name="${boxName}[]"></textarea>
              ${closeButton}
            `;
        }

        let container = document.getElementById(boxName+'-group');
        container.appendChild(newBox);
      }

      // submit recipe form
      const recipeForm = document.getElementById('submit-recipe-form');
      function submitRecipeForm() {
        recipeForm.submit();
      }

      // submit image form
      const imageForm = document.getElementById('submit-image-form');
      const recipeImageInput = document.getElementById('recipeImageInput');
      async function submitImageForm() {
        if (recipeImageInput.files.length === 0) {
            alert('Please select an image.');
        } else {
          const imageFormData = new FormData(imageForm);
          console.log(imageFormData);
          const response = await fetch('/recipe/upload-image', {
            method: 'POST',
            body: imageFormData
          });

          const result = await response.json();

          if (result) {
            recipeImageInput.disabled = true;
            document.getElementById('upload-image-btn').remove();
            alert (result.message);
          }
        }
      }

    </script>
  </body>
</html>