<!DOCTYPE html>
<html>
  <head>
    <title>Flavoury</title>
    <style>
      body {
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
        background-color: #4274b9;
      }
      .form-container {
        margin: 0 auto;
        width: 92%;
        min-width: 320px;
        max-width: 500px;
        margin-top: 9vh;
        padding: 12px;
        background-color: white;
      }
      .group-title {
        margin: 14px 0;
      }
      label, input[type="text"] {
        display: block;
        margin: 10px 0;
        box-sizing: border-box;
        width: 80%;
      }
      .share-to-public p, .share-to-public input, .item-list input, .item-list a {
        display: inline-block;
      }
      .item-list a {
        font-size: 18px;
        font-weight: bold;
        text-decoration: none;
        color: red;
      }
      hr {
        margin: 25px 0;
      }
      textarea {
        width: 80%;
        resize: none;
        margin: 10px 0;
      }
    </style>
  </head>
  <body>
    <div class="form-container">
      <div class="form-title">Create / Edit Recipe</div>

      <form action="/recipe/save-edit-recipe" method="post">
        <label>Recipe Title:</label>
        <input type="text" name="title" value="<%= (recipeData) ? recipeData[0].recipe_title : '' %>">

        <div class="share-to-public">
          <p>Share to public:</p>
          <input type="checkbox" name="sharing" value="1" <%= (recipeData) ? (recipeData[0].share_to_public==1) ? 'checked' : '' : '' %>>
        </div>

        <label>Servings amount:</label>
        <input type="text" name="servings" value="<%= (recipeData) ? recipeData[0].servings_amount : '' %>">

        <label>Prep time:</label>
        <input type="text" name="prepTime" value="<%= (recipeData) ? recipeData[0].prep_time : '' %>">

        <label>Cook time:</label>
        <input type="text" name="cookTime" value="<%= (recipeData) ? recipeData[0].cook_time : '' %>">

        <hr>
        <div id="ingredient-group">
          <div class="group-title">Ingredients</div>

          <% if (recipeData) { %>
            <% for (let ingredient of recipeData[0].ingredient) { %>
              <div class="item-list">
                <input type="text" name="ingredient[]" value="<%= ingredient %>">
                <a href="javascript:void(0)" onclick="this.parentNode.remove();"><div>X</div></a>
              </div>
            <% } %>
          <% } else { %>
            <% for (let i=0; i<3; i++) { %>
              <div class="item-list">
                <input type="text" name="ingredient[]">
                <a href="javascript:void(0)" onclick="this.parentNode.remove();"><div>X</div></a>
              </div>
            <% } %>
          <% } %>
        </div>

        <a href="javascript:void(0)">
          <div class="more-textbox-btn">
            <a href="javascript:void(0)" onclick="addInputBox('ingredient');">Add Ingredient</a>              
          </div>
        </a>

        <hr>
        <div id="instruction-group">
          <div class="group-title">Instructions</div>

          <% if (recipeData) { %>
            <% for (let instruction of recipeData[0].instruction) { %>
              <div class="item-list">
                <textarea name="instruction[]"><%= instruction %></textarea>
                <a href="javascript:void(0)" onclick="this.parentNode.remove();"><div>X</div></a>
              </div>
            <% } %>
          <% } else { %>
            <% for (let i=0; i<3; i++) { %>
              <div class="item-list">
                <textarea name="instruction[]"></textarea>
                <a href="javascript:void(0)" onclick="this.parentNode.remove();"><div>X</div></a>
              </div>
            <% } %>
          <% } %>
        </div>

        <a href="javascript:void(0)">
          <div class="more-textbox-btn">
            <a href="javascript:void(0)" onclick="addInputBox('instruction');">Add Instruction</a>
          </div>
        </a>

        <hr>
        <div>
          <label>recipe note:</label>
          <textarea name="recipeNote"><%= (recipeData) ? recipeData[0].recipe_note : '' %></textarea>
        </div>

        <hr>
        <input type="submit" value="Submit">
        <input type="hidden" name="recipeId" value="<%= recipeId %>">
      </form>

    </div>

    <!-- To upload image, still need some adjustment -->
    <!-- <form action="/recipe/upload-image" method="post" enctype="multipart/form-data">
      <input type="file" name="recipeImage" />
      <br>
      <input type="submit" value="Submit">
    </form> -->

    <script>
      // add new input box to ingredient or instruction
      function addInputBox(boxName) {
        let newBox = document.createElement('div');
        newBox.classList.add('item-list');

        let closeButton = '<a href="javascript:void(0)" onclick="this.parentNode.remove();"><div>X</div></a>';

        if (boxName==='ingredient') {
          newBox.innerHTML = `
              <input type="text" name="${boxName}[]">
              ${closeButton}
            `;
        } else if (boxName==='instruction') {
          newBox.innerHTML = `
              <textarea name="${boxName}[]"></textarea>
              ${closeButton}
            `;
        }

        let container = document.getElementById(boxName+'-group');
        container.appendChild(newBox);
      }
    </script>
  </body>
</html>