<!DOCTYPE html>
<html>
  <head>
    <title>Flavoury</title>
    <link rel='stylesheet' href='/stylesheets/cookbook.css' />
    <link rel='stylesheet' href='/stylesheets/colorChanger.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <!-- navbar -->
    <div class="navbar">
      <div class="mainNav">
        <a href="/personal-cookbook">
          <img src="/images/icons/home-blue.png" style="width: 32px;" alt="Search">
          <p>Personal Cookbook</p>
        </a>
        <a href="/settings">
          <img src="/images/icons/settings-blue.png" style="width: 32px;" alt="Settings">
          <p>Settings</p>
        </a>
      </div>
      <div class="secondaryNav">
        <a href="/edit-recipe">
          <img src="/images/icons/add-blue.png" style="width: 32px;" alt="Create Recipe">
          <p>New Recipe</p>
        </a>

        <% if (recipeData) { %>
          <ul>
          <% for (let recipe of recipeData) { %>
            <li>
                <a href="/personal-recipe/<%= recipe.id %>"><%= recipe.recipe_title %></a>
            </li>
          <% } %>
          </ul>
        <% } %>
        <button onclick="changeColourScheme()">Change Colour Scheme</button>
      </div>
      <div class="navBottom">
        <p>© 2024 Flavoury. All Rights Reserved.</p>
      </div>
    </div>
    <!-- main content -->
    <div class="main">
      <h2>Personal Cookbook</h2>

      <hr><br>

      <form action="/search-recipe" method="get">
        <label for="searchInput">Search:</label>
        <input type="text" name="search" placeholder="Search recipe ...">
        <input type="radio" name="mode" value="personal">Personal
        <input type="radio" name="mode" value="public">Public
        <button type="submit">Search</button>
      </form>

      <br><hr><br>

      <h3>All Recipes</h3>
      <div class="cardsContainer">
        <div id="newRecipeCard" class="card">
          <a href="/edit-recipe">
            <div class="defaultImg">
              <img src="/images/icons/add-blue.png" style="width: 120px; height: 120;" alt="Create New Recipe">
            </div>
            <p>Create New Recipe</p>
          </a>
        </div>
        <% if (!recipeData || recipeData.length < 1) { %>
          You have no recipes yet!
        <% } %>
        <% for (let data of recipeData) { %>
          <div id=recipeCard class="card">
            <a href="/personal-recipe/<%= data.id %>">
                <% if (data.photo) { %>
                  <div class="customImg">
                    <img src="<%= data.photo %>" width="134" height="140">
                  </div>
                <% } %>
                <% if(!data.photo) { %>
                  <div class="defaultImg">
                    <img src="/images/default-image.png" width="120" height="120">
                  </div>
                <% } %>
                <div class="cardTitle">
                  <%= data.recipe_title %>
                </div>
            </a>
          </div>
        <% } %>
      </div>
    </div>
    <%- include('changeScreenMode') %>
    <!-- Loading js at the end to improve display speed-->
    <script type="text/javascript" src="/javascripts/main.js"></script>
  </body>
</html>