<!DOCTYPE html>
<html>
  <head>
    <title>Flavoury</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/recipe.css' />
    <link rel='stylesheet' href='/stylesheets/colorChanger.css' />
  </head>
  <body>
    <!-- navbar -->
    <div class="navbar">
      <div class="mainNav">
        <a href="/personal-cookbook">
          <img src="/images/icons/home-blue.png" style="width: 32px;" alt="Search">
          <p>Personal Cookbook</p>
        </a>
        <a href="/settings">
          <img src="/images/icons/settings-blue.png" style="width: 32px;" alt="Settings">
          <p>Settings</p>
        </a>
      </div>
      <div class="secondaryNav">
        <a href="/edit-recipe">
          <img src="/images/icons/add-blue.png" style="width: 32px;" alt="Create Recipe">
          <p>New Recipe</p>
        </a>

        <% if (recipeData) { %>
          <ul>
          <% for (let recipe of allRecipe) { %>
            <li>
                <a href="/personal-recipe/<%= recipe.id %>"><%= recipe.recipe_title %></a>
            </li>
          <% } %>
          </ul>
        <% } %>
        <button onclick="changeColourScheme()">Change Colour Scheme</button>
      </div>
      <div class="navBottom">
        <p>© 2024 Flavoury. All Rights Reserved.</p>
      </div>
    </div>
    <!-- main content -->
    <div class="main">
      <div class="optionsMenu">
        <div id="desktopHidden">
          <div class="buttons">
            <a href="/personal-cookbook"> 
            <img src="/images/icons/home-blue.png" style="width: 40px;" alt="Home">
            <p>Home</p>
            </a>
          </div>
        </div>  
        <div class="buttons">
          <button id="notesButton">
            <img src="/images/icons/notes-blue.png" style="width: 40px;" alt="Notes">
            <p>Notes</p>
          </button>
        </div>
        <div class="buttons">
          <a href="/edit-recipe/<%= recipeData[0].id %>">
            <img src="/images/icons/edit-blue.png" style="width: 40px;" alt="Edit">
            <p>Edit</p>
          </a>
        </div>
        <div class="buttons">
          <a href="#" onclick="promptBeforeDeleteRecipe('<%= recipeData[0].id %>')">
            <img src="/images/icons/delete-blue.png" style="width: 40px;" alt="Delete">
            <p>Delete</p>
          </a>
        </div>
      </div>
      <div class="overhead">
        <h2><%= recipeData[0].recipe_title %></h2>
        <div id="desktopHidden">
          <a href="#">
            <img src="/images/icons/settings-black.png" style="width: 40px;" alt="Settings">
          </a>
        </div>

        <p>Prep Time: <%= recipeData[0].prep_time %></p>
        <p>Cook Time: <%= recipeData[0].cook_time %></p>
        <p>Total Time: <%= recipeData[0].prep_time + recipeData[0].cook_time %></p>
        <p>Servings: <%= recipeData[0].servings_amount %></p>
      </div>
      <!-- recipe notes popup -->
      <div id="notesModal" class="modal">
        <div id="foo" class="notesContent">
          <span class="close">&times;</span>
          <h3>Notes</h3>
          <ul>
            <li><%= recipeData[0].recipe_note %></li>
          </ul>
        </div>
      </div>
      <div class="recipe">
        <div id="leftcolumn" class="card">
          <h3>Ingredients</h3>
          <ul>
            <% if (recipeData) { %>
              <% for (let ingredient of recipeData[0].ingredient) { %>
                <li>
                  <label class="container">
                    <input type="checkbox">
                    <span class="checkmark"><%= ingredient %></span>
                  </label>
                </li>
              <% } %>
            <% } %>
          </ul>    
        </div>
        <div id="rightcolumn" class="card">
          <h3>Instructions:</h3>
          <ol>
            <% if (recipeData) { %>
              <% for (let instruction of recipeData[0].instruction) { %>
                <li>
                  <label class="container">
                    <input type="checkbox">
                    <span class="checkmark"><%= instruction %></span>
                  </label>
                </li>
              <% } %>
            <% } %>
          </ol>
        </div>
      </div>
    </div>
    <%- include('changeScreenMode') %>
    <!-- Loading js at the end to improve display speed-->
    <script type="text/javascript" src="/javascripts/main.js"></script>
  </body>
</html>