<!DOCTYPE html>
<html>
  <head>
    <title>Flavoury</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/search.css' />
  </head>
  <body>
    <!-- main content -->
    <div class="container">
      <div class="title">
        <h2>Search Results:</h2>
      </div>
      <div class="content">
        <form action="/search-recipe" method="get">
          <label for="searchInput">Search:</label>
          <input type="text" name="search" placeholder="Search recipe ..."><br>
          <input type="radio" name="mode" value="personal">Personal
          <input type="radio" name="mode" value="public">Public
          <button type="submit">Search</button>
        </form>
      </div>
      <div class="cardsContainer">
        <% if (!searchResult || searchResult.length < 1) { %>
          <% if (typeof searchQuery !== 'undefined' && typeof searchMode !== 'undefined') { %>
            No result.
          <% } %>
        <% } else { %>
          <% for (let data of searchResult) { %>
            <div id="recipeCard" class="card">
              <!-- If photo exist, it will be shown. -->
              <% if (data.photo) { %>
                <div class="customImg">
                  <img src="/<%= data.photo %>" height="134" width="140">
                </div>
              <% } %>
              <% if(!data.photo) { %>
                <div class="defaultImg">
                  <img src="/images/default-image.png" width="120" height="120">
                </div>
              <% } %>
              <!-- Recipe title -->
              <% if (typeof searchQuery !== 'undefined' && typeof searchMode !== 'undefined') { %>
                <a href="/<%= (searchMode === 'public')?'public-recipe':'personal-recipe' %>/<%= data.id %>"><%= data.recipe_title %></a>
              <% } else { %>
                <a href="/public-recipe/<%= data.id %>"><%= data.recipe_title %></a>
              <% } %>
            </div>
            <br><br>
          <% } %>
        <% } %>
      </div>
      <div class="back-btn"><a href="/personal-cookbook">Back To Personal Cookbook</a></div>
    </div>
  </body>
</html>