<!DOCTYPE html>
<html>
  <head>
    <style>body{margin-left:25px;}</style>
  </head>
  <body>
    <h1>Test Page</h1>

    <a href="/recipe/save-recipe">Insert random data to database</a>
    <br><br>
    <a href="/recipe/delete-recipe">Delete all data in database</a>

    <br><br><br>--- User data from database: ---<br><br>
    <% if (!loadUserData || loadUserData.length < 1) { %>
      No data
    <% } %>

    <% if (Array.isArray(loadUserData)) { %>
      <% for (let data of loadUserData) { %>
        <%= data.fullname %><br>
        <%= data.email %><br>
        <%= data.password %><br>
      <% } %>
    <% } else { %>
      <%= loadUserData.fullname %><br>
      <%= loadUserData.email %><br>
      <%= loadUserData.password %><br>
    <% } %>
  </body>
</html>
